[submodule "lib/bootstrap_error"]
	path = lib/bootstrap_error
	url = https://github.com/brycehenson/bootstrap_error.git
[submodule "fileexchange_utils/Violinplot-Matlab"]
	path = fileexchange_utils/Violinplot-Matlab
	url = https://github.com/bastibe/Violinplot-Matlab.git
[submodule "bin/CIECAM02"]
	path = bin/CIECAM02
	url = https://github.com/DrosteEffect/CIECAM02.git
[submodule "lib/Core_BEC_Analysis"]
	path = lib/Core_BEC_Analysis
	url = https://github.com/brycehenson/Core_BEC_Analysis.git
