[submodule "fileexchange_utils/Violinplot-Matlab"]
	path = fileexchange_utils/Violinplot-Matlab
	url = https://github.com/bastibe/Violinplot-Matlab.git
[submodule "bin/CIECAM02"]
	path = bin/CIECAM02
	url = https://github.com/DrosteEffect/CIECAM02.git
[submodule "lib/is_laser_single_mode"]
	path = lib/is_laser_single_mode
	url = https://github.com/brycehenson/is_laser_single_mode.git
[submodule "bin/godlike"]
	path = bin/godlike
	url = https://github.com/rodyo/FEX-GODLIKE.git
