[submodule "boostrap_error"]
	path = boostrap_error
	url = https://github.com/brycehenson/boostrap_error
[submodule "bootstrap_error"]
	path = bootstrap_error
	url = https://github.com/brycehenson/bootstrap_error.git
[submodule "lib/fast_sorted_mask"]
	path = lib/fast_sorted_mask
	url = https://github.com/brycehenson/fast_sorted_mask
[submodule "lib/bootstrap_error"]
	path = lib/bootstrap_error
	url = https://github.com/brycehenson/bootstrap_error.git
